<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">
    <title>Ai WallCraft Login | Admin</title>
</head>
<body>
    <div class="container mt-5">
        <form id="loginFormId">
            <input type="text" class="form-control mb-3" id="usernameInput" name="usernameInput" placeholder="Enter Username" required>
            <input type="password" class="form-control mb-3" id="passwordInput" name="passwordInput" placeholder="Enter Password" required>
            <input type="submit" class="btn btn-primary" value="Login">
        </form>
    </div>
    <script src="{{ url_for('static', path='/js/popper.min.js') }}"></script>
    <script src="{{  url_for('static', path='/js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', path='/js/login.js') }}"></script>
</body>
</html>